
{{!-- 
<div class="hero-links">
  <a href="/heroDetails/{{superhero.id}}"></a>
  <img class="hero-links" src="{{superhero.imageUrl}}" alt="superhero" width="300" height="300">
</div> --}}

{{!-- <div class="superhero" style="height:300, width:fit-content">
        <img class="superhero" src="{{superhero.imageUrl}}">
        <p class="name">{{superhero.name}}</p>
        
        <a class="btn" href="/heroDetails/{{superhero.id}}">Details</a>
    </div> --}}

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{superhero.imageUrl}}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{superhero.name}}</h5>
            <a class="btn" href="/heroDetails/{{superhero.id}}">Details</a>
          </div>
        </div>
      </div>
    </div>