
{{!-- 
<div class="hero-links">
  <a href="/heroDetails/{{superhero.id}}"></a>
  <img class="hero-links" src="{{superhero.imageUrl}}" alt="superhero" width="300" height="300">
</div> --}}

<div class="superhero">
        <img class="superhero" src="{{superhero.imageUrl}}">
        <p class="name">{{superhero.name}}</p>
        
        <a class="btn" href="/heroDetails/{{superhero.id}}">Details</a>
    </div>