<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Delete Villain Page</title>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='#' />
</head>

<body>
  <div class="container">
    <header>
      <ul>
            <li><a href="/">Browse</a></li>
         <li><a href="/createhero">Create A Superhero</a></li>
        <li><a href="/createvillain">Create A Supervillain</a></li>
        <li><a href="/heropowercreate">Add A Hero Power</a></li>
        <li><a href="/villainpowercreate">Add A Villain Power</a></li>
    
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
      </ul>
    </header>
    <main>
	<h1>Delete Villain</h1>
<div class="form">
  <form action='/villaindelete/{{supervillain.id}}' method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" value="{{supervillain.name}}" disabled="true"/>
    <label for="image">ImageUrl</label>
    <input type="text" id="image" name="imageUrl" value="{{supervillain.imageUrl}}" disabled="true"/>
    <label for="age">Age</label>
    <textarea id="age" name="age" disabled="true"/>{{supervillain.age}}</textarea>
     <label for="height">Height</label>
    <textarea id="height" name="height" disabled="true"/>{{supervillain.height}}</textarea>
     <label for="weight">Weight</label>
    <textarea id="weight" name="weight" disabled="true"/>{{supervillain.weight}}</textarea>
     <label for="gender">Gender</label>
    <textarea id="gender" name="gender" disabled="true"/>{{supervillain.gender}}</textarea>
     <label for="affiliation">Affiliation</label>
    <textarea id="affiliation" name="affiliatioin" disabled="true"/>{{supervillain.affiliation}}</textarea>

    
    </option>
    
    <input type="submit" value="villaindelete">
  </form>
</div>
    </main>
  </div>
  <footer>SUPERHEROES VS SUPERVILLAINS</footer>

</body>

</html>